#home-page {
  display: none;
}

#learn-more {
  display: none;
}

#results-page {
  display: flex;
  width: 100%;
  margin-top: 50px;
}

#results-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.custom-content,
.card-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-1 {
  height: 400px;
}

.content {
  font-size: 150%;
}

.content h2 {
  font-size: 100%;
}

.continue-btns {
  display: flex;
  justify-content: end;
  padding: 10px;
}

.continue-btns .button {
  margin: 5px;
}

#pick-history {
  display: flex;
  font-size: 200%;
  max-width: 200px;
  min-width: 200px;
}

.custom-card {
  margin-bottom: 10px;
}
