#home-page {
  display: flex;
  display: none;
  align-items: center;
  flex-direction: column;
}

.app-name {
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
}

.one-form-box {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  width: 50%;
  margin: 15px;
  padding: 25px;
  box-shadow: 5px;
}

.one-input {
  width: 80%;
  padding: 15px;
}

.logoimg {
  position: absolute;
  top: 3%;
  right: 3%;
  justify-content: left;
  width: 100px;
  height: 100px;
  border-radius: 25%;
  border-color: black;
  border: 2px solid;
  z-index: 1;
}

#results-page {
  display: flex;
  width: 100%;
  margin-top: 50px;
  /* display: none; */
}

.custom-result-btn {
  position: absolute;
  top: 1%;
  left: 1%;
  font-size: 125%;
}

#learn-more {
  margin: 10px;
  display: flex;
  justify-content: center;
}

#learn-more .card {
  top: 90px;
  display: flex;
  justify-content: center;
  min-height: 600px;
  min-width: 1000px;
}

#learn-more .info-container {
  position: absolute;
  bottom: 43%;
  left: 10px;
}

#learn-more h1 {
  color: black;
  font-size: 30px;
  font-weight: 600;
}

.continue-btns .button {
  margin: 5px;
}

#pick-history {
  display: flex;
  margin-top: 300px;
  font-size: 200%;
  max-width: 200px;
  min-width: 200px;
}

.go-back-btn {
  position: absolute;
  top: 10px;
  left: 10px;
}
