/* ----- home page -----*/
#home-img {
    max-width: 500px;
}


#home-page {
  display: flex;
  /* display: none; */
  flex-direction: column;
  align-items: center;
}
.app-name {
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
}

.one-form-box {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  width: 60%;
  margin: 15px;
  padding: 25px;
  box-shadow: 5px;
}

.one-input {
  width: 80%;
  padding: 15px;
}
/*----- app logo ----- */

.logoimg {
  position: absolute;
  top: 2%;
  right: 2%;
  justify-content: left;
  width: 75px;
  height: 75px;
  border-radius: 30%;
  border-color: black;
  border: 2px solid;
  z-index: 1;
}

/*----- Results page ----- */
#results-page {
  display: flex;
  margin-top: 100px;
  display: none;
}

#results-container {
  width: 100%;
}

#start-btn {
  display: flex;
  justify-content: center;
}

.custom-content,
.card-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-1 {
  height: 350px;
}

.content {
  font-size: 150%;
}

.content h2 {
  font-size: 100%;
}

.continue-btns,
.button {
  display: flex;
  justify-content: end;
  padding: 10px;
  margin: 5px;
}

#pick-history {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 300px;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 200%;
  max-width: 200px;
  min-width: 200px;
}

#pick-history h1 {
  margin-bottom: 10px;
}

.history-btn {
  display: flex;
  width: 100%;
  text-align: center;
}

.custom-card {
  margin-bottom: 10px;
}

/*----- Learn More Page ----- */

#learn-more {
  margin: 10px;
  display: flex;
  display: none;
  justify-content: center;
}

#learn-more .card {
  top: 90px;
  display: flex;
  justify-content: center;
  min-height: 600px;
  min-width: 1000px;
}

#learn-more .info-container {
  position: absolute;
  bottom: 43%;
  left: 10px;
}

#learn-more h1 {
  color: black;
  font-size: 30px;
  font-weight: 600;
}

#learn-more .info-container h3 {
  margin: 10px;
  font-size: 20px;
  background-color: white;
}

#learn-more .three-get-dir {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 90px;
  width: 250px;
  font-size: 20px;
}
